header {
  background-image: url(../images/Monstera.jpg);
  background-attachment: fixed;
  background-size: cover;
  border: 2px solid green;
  border-radius: 10px;
}
h1 {
  color: aquamarine;
  font-family: century, gothic;
  text-align: center;
  font-size: 45px;
}
p {
  color: aquamarine;
  font-family: century, gothic;
  text-align: center;
  font-size: large;
}
h2 {
  color: aquamarine;
  font-family: Century, gothic;
  text-align: left;
  
}
h2:hover {
  color: rgb(192, 247, 233);
  
}
li {
  color: #d6f7fd;
  font-family: Century, gothic;
  
}
a {
  color: aquamarine;
  font-family: Century, gothic;
  text-align: center;
}
body{
  
  background-image: linear-gradient(rgb(44, 163, 159), rgb(216, 184, 124), rgb(15, 75, 15));
  background-attachment: fixed;
  background-size: cover;
 
}
.main {
  border: 2px solid green;
  border-radius: 10px;
  text-align: auto; 
  width: 550px;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
}

